
<div class="list-group">
  <a href="/setting/tag_groups" class="list-group-item <%= 'active' if session[:current_setting_menu].eql? 'tag_group' %>">标签组设置</a>
  <a href="/setting/tags" class="list-group-item <%= 'active' if session[:current_setting_menu].eql? 'tag' %>">标签设置</a>
  <a href="/setting/articles" class="list-group-item <%= 'active' if session[:current_setting_menu].eql? 'article' %>">文章编辑</a>
  <a href="/setting/images" class="list-group-item <%= 'active' if session[:current_setting_menu].eql? 'image' %>">照片管理</a>
</div>
