

<div class="article">

  <div class="header">
    <h3><%= @article.title %></h3>
    <span><%= @article.updated_at.strftime('%F %T') %></span>
    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
    <% @article.tags.each do |tag| %>
      <a href="#"><%= tag.name %></a>
    <% end %>
    <hr>
  </div>

  <div class="body" id="content_body">


  </div>

  <div class="footer">

  </div>

</div>

<input type="hidden" name="" id="hidden_article_content" value="<%= @article.content %>">


<script type="text/javascript">

$(document).ready(function() {
  $('#content_body').html(marked($('#hidden_article_content').val()));
});


</script>
